header 
	.container 
		.header 
			.header__logo 
				img(src="./img/logo.png", alt="")
				.header__logo-sub ремни вариатора для снегоходов и квадроциклов
			nav
				ul 
					li
						a.js-scroll-to(href="#section-1") Преимущества
					li
						a.js-scroll-to(href="#section-2") Цена
					li
						a.js-scroll-to(href="#section-3") Подбор ремня
					li
						a.js-scroll-to(href="#section-4") Контакты
			.header__r 
				.header__phone 
					a(href="tel:+89035050050") 8 903 5 050 050
					span ежедневно с 8 до 21 МСК +5
				a.button(href="#") Заказать звонок 
		.header-mobile 
			.burger
				span 
				span 
				span 
			.header-mobile__logo 	
				img(src="./img/logo.png", alt="")
			a.phone-mobile(href="tel:+89035050050")
				svg(width='32' height='32' viewbox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg')
					circle(cx='16' cy='16' r='16' fill='black')
					path(d='M19.4304 19.0669L18.9149 19.8402C18.812 19.9945 18.6759 20.1262 18.4966 20.1736C17.9091 20.3288 16.3496 20.3989 13.9752 18.0245C11.6008 15.6501 11.6709 14.0905 11.8261 13.5031C11.8735 13.3238 12.0052 13.1877 12.1595 13.0848L12.9328 12.5693C13.5085 12.1855 13.664 11.4077 13.2802 10.832L11.8198 8.64134C11.4848 8.13884 10.839 7.94686 10.2839 8.18476L9.62511 8.4671C9.12465 8.68159 8.71642 9.06651 8.47291 9.55352C8.26948 9.96039 8.1118 10.3889 8.09044 10.8432C8.02311 12.2752 8.33711 15.8032 12.2668 19.7329C16.1965 23.6626 19.7244 23.9766 21.1564 23.9092C21.6108 23.8879 22.0393 23.7302 22.4462 23.5268C22.9332 23.2833 23.3181 22.875 23.5326 22.3746L23.8149 21.7158C24.0528 21.1607 23.8608 20.5149 23.3583 20.1799L21.1677 18.7195C20.592 18.3357 19.8142 18.4912 19.4304 19.0669Z' fill='#B3E504')
			.menu-mobile 
				.close-menu
					svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
						path(d='M2.33301 2.33334L11.9997 12M11.9997 12L21.6663 21.6667M11.9997 12L21.6663 2.33334M11.9997 12L2.33301 21.6667' stroke='white' stroke-width='2.4' stroke-linejoin='round')
				ul 
					li
						a.js-scroll-to(href="#section-1") Преимущества
					li
						a.js-scroll-to(href="#section-2") Цена
					li
						a.js-scroll-to(href="#section-3") Подбор ремня
					li
						a.js-scroll-to(href="#section-4") Контакты
				.header__phone 
					a(href="tel:+89035050050") 8 903 5 050 050
					span ежедневно с 8 до 21 МСК +5


