.modal#modal 
	.modal-wrapper 
		a.close-modal(href="#" data-micromodal-close)
			svg(width='40' height='40' viewbox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg')
				path(d='M8.33301 8.33334L19.9997 20M19.9997 20L31.6663 31.6667M19.9997 20L31.6663 8.33334M19.9997 20L8.33301 31.6667' stroke='#443E3E' stroke-width='2.4' stroke-linejoin='round')

		h2 Оставить заявку
		form(action="")
			input(type="text" placeholder="Имя")
			input(type="text" placeholder="Телефон")
			textarea(placeholder="Комментарий")
			a.button(href="#") Отправить
			span Вы соглашаетесь с условиями оферты и даете согласие на обработку персональных данных.